.stop-details {
    margin: 0;
    margin-bottom: 24px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stop-details h2 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.close-stop-button {
    padding: 0 0 7px 0;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    font-weight: 300;
    font-family: Inter, system-ui, sans-serif;
    font-size: 2rem;
    color: var(--text-secondary);
    background: none;
    cursor: pointer;
}

.close-stop-button:hover {
    color: var(--text-primary);
    background: var(--bg-tertiary);
}

.stop-name,
.stop-category,
.stop-desc,
.stop-cost,
.stop-address,
.stop-time-zone,
.stop-arrival,
.stop-departure {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    padding-left: 2px;
    font-weight: 500;
}

.stop-name input,
.stop-category select,
.stop-desc textarea,
.stop-cost-input,
.stop-address input,
.stop-time-zone input,
.stop-arrival input,
.stop-departure input {
    padding: 0.5rem;
    border: 1px solid var(--border);
    border-radius: 6px;
    outline: 1px solid rgba(235, 235, 235, 0);
    font-family: Inter, system-ui, sans-serif;
    font-size: 1rem;
    color: var(--text-primary);
    background: var(--bg-primary);
    resize: none;
    transition: outline 0.3s var(--transition-timing);
}

.stop-cost-input {
    position: relative;
    padding: 0;
}

.stop-cost-input span {
    position: absolute;
    padding: 0.5rem 0 0.5rem 0.5rem;
    line-height: 1.5rem;
    pointer-events: none;
}

.stop-cost input {
    width: 91.5%;
    padding: 0.5rem 0.5rem 0.5rem 1.1rem;
    border: none;
    font-family: Inter, system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-primary);
    background: transparent;
}

.stop-name input:focus-visible,
.stop-category select:focus-visible,
.stop-desc textarea:focus-visible,
.stop-cost-input:focus-within,
.stop-address input:focus-visible,
.stop-time-zone input:focus-visible,
.stop-arrival input:focus-visible,
.stop-departure input:focus-visible {
    outline: 1px solid var(--text-primary);
}

.stop-cost input {
    outline: none;
}

.stop-button-container {
    margin: 12px 0 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.save-stop-button,
.delete-stop-button {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    font-family: Inter, system-ui, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: var(--text-secondary);
    background: var(--bg-tertiary);
    cursor: pointer;
}

.save-stop-button:hover,
.delete-stop-button:hover {
    color: var(--text-primary);
    background: var(--bg-quaternary);
}