.stop-item {
    padding: 1rem;
    min-width: 480px;
    align-self: center;
    background: var(--bg-primary);
}

.stop-item h3 {
    margin: 0;
}

.stop-item p {
    margin: 0;
}

.stop-item:hover {
    box-shadow:
        0 4px 12px rgba(0, 0, 0, 0.08),
        0 2px 4px rgba(0, 0, 0, 0.04);
}