.stop-item {
    padding: 1rem;
    min-width: 380px;
    min-height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 6px;
    background: var(--bg-primary);
    cursor: pointer;
    transition:
        outline 0.3s var(--transition-timing),
        box-shadow 0.3s var(--transition-timing);
}

.stop-item h3 {
    margin: 0 0 4px 0;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
}

.stop-item span {
    margin: 0;
    font-weight: 400;
}

.stop-item:hover {
    box-shadow:
        0 0px 4px rgba(0, 0, 0, 0.8),
        0 4px 12px rgba(0, 0, 0, 0.4);
}