.root-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 230px 1fr 320px;
  overflow: hidden;
  transition: grid-template-columns 0.3s var(--transition-timing);
}

.app-layout.right-closed {
  grid-template-columns: 230px 1fr 0px;
  transition: grid-template-columns 0.3s var(--transition-timing);
}

.left-sidebar {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border);
  background: var(--bg-secondary);
  overflow-y: auto;
}

.center-timeline {
  padding: 0rem;
  min-width: 520px;
  overflow-y: auto;
}

.right-sidebar {
  padding: 0.5rem;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-left: 1px solid var(--border);
  background: var(--bg-secondary);
  overflow: hidden;
  overflow-y: auto;
}

.left-sidebar,
.center-timeline,
.right-sidebar {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-tertiary) transparent;
}