.root-layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 220px 1fr 280px;
}

.left-sidebar {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border);
  background: var(--bg-secondary);
}

.center-timeline {
  padding: 1rem;
}

.right-sidebar {
  border-left: 1px solid var(--border);
  padding: 1rem;
}