:root {
  --bg-primary: #191919;
  --bg-secondary: #202020;
  --bg-tertiary: #2B2B2B;
  --bg-quaternary: #353535;

  --border: #323232;
  --shadow: rgba(0, 0, 0, 0.25);

  --text-primary: #EBEBEB;
  --text-secondary: #B2B2B2;

  --accent-blue: #89B2FD;
  --accent-green: #87BE73;
  --accent-red: #EB5252;

  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);

  font-family: Inter, system-ui, sans-serif;
}